.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
    max-width: fit-content;
    padding: 1.2rem 3.2rem;
    margin-bottom: 40px;
    background-color: white;
    color: #254d70;
    outline: 16px solid #254d70;
    border-radius: 16px;
    gap: 8px;
}

.container::before, .container::after {
    content: '';
    position: absolute;
    width: 55px;
    aspect-ratio: 1;
    border-top-right-radius: 30px;
    box-shadow: 12px -12px #254d70; 
    background-color: transparent;
}

.container::before {
    bottom: -71px;
    right: 0;
}

.container::after {
    left: -71px;
    top: 0;
}